.text-l--bold {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
}
.text-m--gray {
  font-size: 1rem;
  color: #7d7e7d;
}
.text-m--bold {
  font-size: 1rem;
  font-weight: bold;
}
.text-s--gray {
  font-size: 12px;
  color: #7d7e7d;
}
.heading-1 {
  font-size: 30px;
  font-weight: bold;
}
