.text-l--bold {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
}
.text-l {
  font-size: 20px;
  font-weight: bold;
}
.text-m--gray {
  font-size: 1rem;
  color: #7d7e7d;
}
.text-m--semibold {
  font-size: 1rem;
  font-weight: 600;
}
.text-m--bold {
  font-size: 1rem;
  font-weight: bold;
}
.text-s--gray {
  font-size: 12px;
  color: #7d7e7d;
}
.labels {
  font-size: 16px;
  font-weight: 600;
}
.heading-1 {
  font-size: 30px;
  font-weight: bold;
}
.error-message {
  color: #c53030;
  font-weight: 600;
  font-size: 12px;
}
.link {
  color: #09508a;
  text-decoration: underline;
  &:hover {
    background-color: #cce0f5;
  }
}
